<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header><h1 class="title">MusicApp</h1> 


        
       <% if logged_in? %>
            <form action="<%= session_url %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <%= auth_token %>
            <button>Log-out</button>
            </form>
          <% else %> 
          <div class="sign-in-button">
            <a  href="<%= new_user_url %>">Sign-up </a>
            <a  href="<%= new_session_url %>">Sign-in </a>
            </div>
        <% end %>

    </header>
    <%= yield %>
  </body>
</html> 